@model showroomManagement.Models.Interst

<h4>Interst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_Interst">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input asp-for="IsNotified" placeholder="IsNotified" class="form-control" />
                <span asp-validation-for="IsNotified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Intersted" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

