@model showroomManagement.Models.Order

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_Order">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="OrderCode" placeholder="OrderCode" class="form-control" />
                <span asp-validation-for="OrderCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="OrderedBy" class ="form-control" asp-items="ViewBag.OrderedBy"></select>
            </div>
            <div class="form-group">
                <select asp-for="OrdereAccessoryId" class ="form-control" asp-items="ViewBag.OrdereAccessoryId"></select>
            </div>
            <div class="form-group">
                <input asp-for="TotalAmount" placeholder="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Status" placeholder="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="OrderDate" placeholder="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DeliveryDate" placeholder="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

