@model showroomManagement.Models.Employee

<div class="mb-2 acd-group">
    <div class="card-header bg-primary rounded-0">
        <h5 class="mb-0">
            <a href="#collapse" class="btn-block text-white text-left acd-heading" data-toggle="collapse">Add Employee</a>
        </h5>
    </div>
    <div id="collapse" class="collapse show" data-parent="#accordionsimplefill">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="_Employee">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" asp-for="FirstName" placeholder="Frist Name" aria-label="Frist Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group clearfix">
                            <input name="LastName" type="text" class="form-control" asp-for="LastName" placeholder="Last Name" aria-label="Last Name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group clearfix">
                            <input name="Email" type="Email" class="form-control" asp-for="Email" placeholder="Email" aria-label="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" asp-for="Cnic" placeholder="CNIC">
                            <span asp-validation-for="Cnic" class="text-danger"></span>
                        </div>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" asp-for="Contact" placeholder="Contact">
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        <div class="form-group clearfix">
                            <input name="Address" type="text" class="form-control" asp-for="Address" placeholder="Address" aria-label="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" asp-for="Qualification" placeholder="Qualification">
                            <span asp-validation-for="Qualification" class="text-danger"></span>
                        </div>
                        <div class="form-group clearfix">
                            <input type="date" class="form-control " asp-for="DateOfBirth" placeholder="DateOfBirth">
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-group clearfix">
                            <input type="text" class="form-control" asp-for="Department" placeholder="Department">
                            <span asp-validation-for="Department" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add Employee" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
