@model showroomManagement.Models.Car

<div class="mb-2 acd-group">
    <div class="card-header bg-primary rounded-0">
        <h5 class="mb-0">
            <a href="#collapse" class="btn-block text-white text-left acd-heading" data-toggle="collapse">Add Car</a>
        </h5>
    </div>
    <div id="collapse" class="collapse" data-parent="#accordionsimplefill">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="_car" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Name" placeholder="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Description" placeholder="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="SittingCapacity" type="text" placeholder="SittingCapacity" class="form-control" />
                            <span asp-validation-for="SittingCapacity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <select asp-for="CarTypeId" placeholder="CarType" class="form-control" asp-items="ViewBag.CarTypeId"></select>
                        </div>
                        <div class="form-group">
                            <select asp-for="CompanyId" placeholder="Company" class="form-control" asp-items="ViewBag.CompanyId"></select>
                        </div>
                        <div class="form-group">
                            <input asp-for="EngineCapacity"type="text" placeholder="EngineCapacity" class="form-control" />
                            <span asp-validation-for="EngineCapacity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="HoursePower" type="text" placeholder="HoursePower" class="form-control" />
                            <span asp-validation-for="HoursePower" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Image1" class="form-control" />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input asp-for="HasPowerSteering" class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" /><label class="form-check-label" for="flexCheckDefault1">HasPowerSteering</label>
                                    <span asp-validation-for="HasPowerSteering" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input asp-for="HasAntiLockBreakingSystem" class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" /><label class="form-check-label" for="flexCheckDefault2">HasAntiLockBreakingSystem</label>
                                    <span asp-validation-for="HasAntiLockBreakingSystem" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input asp-for="TransmissionType" class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" /><label class="form-check-label" for="flexCheckDefault3">TransmissionType</label>
                                    <span asp-validation-for="TransmissionType" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input asp-for="HasPowerWindows" class="form-check-input" type="checkbox" value="" id="flexCheckDefault4" /><label class="form-check-label" for="flexCheckDefault4">HasPowerWindows</label>
                                    <span asp-validation-for="HasPowerWindows" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input asp-for="HasAirbags" class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" /><label class="form-check-label" for="flexCheckDefault5">HasAirbags</label>
                                    <span asp-validation-for="HasAirbags" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input asp-for="HasAutoClimControl" class="form-check-input" type="checkbox" value="" id="flexCheckDefault6" /><label class="form-check-label" for="flexCheckDefault6">HasAutoClimControl</label>
                                    <span asp-validation-for="HasAutoClimControl" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input asp-for="HasFogLights" class="form-check-input" type="checkbox" value="" id="flexCheckDefault7" /><label class="form-check-label" for="flexCheckDefault7">HasFogLights</label>
                                    <span asp-validation-for="HasFogLights" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input asp-for="HasAlloyRims" class="form-check-input" type="checkbox" value="" id="flexCheckDefault8" /><label class="form-check-label" for="flexCheckDefault8">HasAlloyRims</label>
                                    <span asp-validation-for="HasAlloyRims" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input asp-for="HasCruiseControl" class="form-check-input" type="checkbox" value="" id="flexCheckDefault9" /><label class="form-check-label" for="flexCheckDefault9">HasCruiseControl</label>
                                    <span asp-validation-for="HasCruiseControl" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input asp-for="IsHybrid" class="form-check-input" type="checkbox" value="" id="flexCheckDefault10" /><label class="form-check-label" for="flexCheckDefault10">IsHybrid</label>
                                    <span asp-validation-for="IsHybrid" class="text-danger"></span>
                                </div>

                            </div>

                        </div>

                        <div class="form-group">
                            <input type="submit" value="Add Car" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

