@model showroomManagement.Models.Company

<div class="mb-2 acd-group">
    <div class="card-header bg-primary rounded-0">
        <h5 class="mb-0">
            <a href="#collapse2" class="btn-block text-white text-left acd-heading" data-toggle="collapse">Add Company</a>
        </h5>
    </div>
    <div id="collapse2" class="collapse" data-parent="#accordionsimplefill">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="_Company">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Name" placeholder="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Description" placeholder="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add Company" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
