@{
    ViewData["Title"] = "CarIndex";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h1>Car</h1>
                    </div>
                    <div class="breadcrumb-bar align-items-center"></div>
                </div>
                <!-- end page title -->
                <div class="card-body">
                    <div class="accordion" id="accordionsimplefill">
                        <partial name="_NewCar" ></partial>
                        <partial name="_UsedCar"></partial>
                        <partial name="_RegisteredCar"></partial>
                        <partial name="_Car" ></partial>
                        <partial name="_CarType"></partial>
                        <partial name="_Company"></partial>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->
