@model IEnumerable<showroomManagement.Models.UsedCar>
@{
    ViewData["Title"] = "UsedCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Old cars</h1>
            <ul class="breadcrumbs">
                <li><a asp-controller="Home" asp-action="index">Home</a></li>
                <li class="active">New cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- New car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Old Cars</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod
            </p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                @Html.Partial("_UsedCarPv", item);
            }

        </div>
    </div>
</div>
<!-- New car end -->
