<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/bootstrap-submenu.css">

    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/fonts/linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/jnoty.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/theme/assets/css/skins/yellow.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/theme/assets/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700%7CUbuntu:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/ie10-viewport-bug-workaround.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="~/theme/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/theme/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script  src="~/theme/assets/js/html5shiv.min.js"></script>
    <script  src="~/theme/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <a class="navbar-brand company-logo" asp-controller="Home" asp-action="Index">home</a>

        <div>
            @RenderBody()
        </div>


        <script src="~/theme/assets/js/jquery.min.js"></script>
        <script src="~/theme/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/theme/assets/js/popper.min.js"></script>
        <script src="~/theme/assets/js/bootstrap-submenu.js"></script>
        <script src="~/theme/assets/js/rangeslider.js"></script>
        <script src="~/theme/assets/js/jquery.mb.YTPlayer.js"></script>
        <script src="~/theme/assets/js/bootstrap-select.min.js"></script>
        <script src="~/theme/assets/js/jquery.easing.1.3.js"></script>
        <script src="~/theme/assets/js/jquery.scrollUp.js"></script>
        <script src="~/theme/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/theme/assets/js/dropzone.js"></script>
        <script src="~/theme/assets/js/slick.min.js"></script>
        <script src="~/theme/assets/js/jquery.filterizr.js"></script>
        <script src="~/theme/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="~/theme/assets/js/jquery.countdown.js"></script>
        <script src="~/theme/assets/js/jquery.mousewheel.min.js"></script>
        <script src="~/theme/assets/js/lightgallery-all.js"></script>
        <script src="~/theme/assets/js/jnoty.js"></script>
        <script src="~/theme/assets/js/sidebar.js"></script>
        <script src="~/theme/assets/js/app.js"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="~/theme/assets/js/ie10-viewport-bug-workaround.js"></script>
        <!-- Custom javascript -->
        <script src="~/theme/assets/js/ie10-viewport-bug-workaround.js"></script>


        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)

</body>
</html>
