@{
    ViewData["Title"] = "AccessoryIndex";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h1>Accessory</h1>
                    </div>
                    <div class="breadcrumb-bar align-items-center"></div>
                </div>
                <!-- end page title -->
                <!---------------------->
                <div class="card-body row justify-content">
                    <div class="accordion col-md-8" id="accordionsimplefill">
                        <partial name="_Accessory"></partial>
                        <partial name="_AccessoriesStock"></partial>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->
